<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiezhenqi">

    <!-- 6.0危险权限 start -->
    <!-- 日历权限 -->
    <!-- 具体包括：读取日历、新建/修改/删除日历等权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 通讯录权限 -->
    <!-- 具体包括：读取联系人、新建/修改/删除联系人等权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 麦克风权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 电话权限 -->
    <!-- 具体包括：读取本机识别码、拨打电话、读取通话记录、新建/修改/删除通话记录等权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- 身体传感器权限 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <!-- 短信权限 -->
    <!-- 具体包括：发送短息、接收短信、读取短信/彩信等权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 6.0危险权限 end -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 自动聚焦权限 -->
    <application
        android:name=".XZQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${channelValue}" />

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.home.HomeActivity" />
        <activity android:name=".business.h5help.H5HelpActivity" />
        <activity android:name=".business.search.SearchActivity" />
        <activity android:name=".business.more.MoreActivity" />
        <activity android:name=".business.more.contextlist.ContextMenuRecyclerViewActivity" />
        <activity android:name=".business.selectpic.BaseSelectPicActivity" />
        <activity android:name=".business.crop.CropImageActivity" />
        <activity android:name=".business.more.lazyload.LazyLoadingActivity" />
        <activity android:name=".business.more.drag.DragActivity" />
        <activity android:name=".business.more.order.OrderActivity" />
        <activity android:name=".business.more.progress.ProgressBarActivity" />
        <activity
            android:name=".business.more.mazing.IDActivity"
            android:theme="@style/AppBaseTheme" />
        <activity android:name=".business.more.watermark.WatermarkActivity" />
        <activity android:name=".business.more.moveview.MoveViewActivity" />
        <activity android:name=".business.more.galleryviewpager.GalleryViewPagerActivity" />
        <activity
            android:name=".business.more.toast.ToastActivity"
            android:label="@string/title_activity_toast"
            android:theme="@style/AppTheme" />
        <activity android:name=".business.more.live.phone.PhoneLiveListActivity" />
        <activity android:name=".business.more.live.phone.PhoneLiveActivity" />
        <activity android:name=".business.more.dragview.DragViewActivity" />
        <activity android:name=".business.more.richtext.RichTextActivity" />
        <activity android:name=".business.more.cling.ClingBarActivity" />
        <activity android:name=".business.more.record.RecordActivity" />
        <activity android:name=".business.more.largedialog.LargeDialogActivity" />
        <activity android:name=".business.more.pulldownrefresh.PullDownRefreshActivity" />
        <activity android:name=".business.more.selectcity.SelectCityActivity" />
        <activity android:name=".business.more.zxing.ZxingActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SUmjHV4jEkK57Fj7UWoWjhWTqR7u79MU" />

        <activity android:name=".business.more.permission.MPermissionActivity" />
        <activity android:name=".business.more.mvp.MvpActivity" />
        <activity android:name=".business.more.mvp.login.LoginActivity" />
        <activity android:name=".business.more.fit.FitActivity" />
        <activity android:name=".newmvp.act.RXMVPActivity" />
        <activity android:name=".business.more.fit.CalculateDpiActivity" />
        <activity android:name=".business.more.inflate.InflateActivity"></activity>
        <activity android:name=".business.more.cling2.suspensionbar.MultiActivity" />
        <activity android:name=".business.more.cling2.suspensionbar.MainActivity" />
    </application>

</manifest>