<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiezhenqi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".XZQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${channelValue}" />

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.home.HomeActivity" />
        <activity android:name=".business.h5help.H5HelpActivity" />
        <activity android:name=".business.search.SearchActivity" />
        <activity android:name=".business.more.MoreActivity" />
        <activity android:name=".business.more.contextlist.ContextMenuRecyclerViewActivity" />
        <activity android:name=".business.selectpic.BaseSelectPicActivity" />
        <activity android:name=".business.crop.CropImageActivity" />
        <activity android:name=".business.more.lazyload.LazyLoadingActivity" />
        <activity android:name=".business.more.drag.DragActivity" />
        <activity android:name=".business.more.order.OrderActivity" />
        <activity android:name=".business.more.progress.ProgressBarActivity" />
        <activity
            android:name=".business.more.mazing.IDActivity"
            android:theme="@style/AppBaseTheme"></activity>
    </application>

</manifest>